body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600 ;
  font-style: normal;
  line-height: 1.6;
  background-image: url(images/background4.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
header{
  background-color: rgb(221, 218, 219);
  color:rgb(8, 2, 2);
  padding:0%;
  position:fixeds;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
ul{
    list-style: none;
}
nav ul{
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav ul li a{
  text-decoration:none;
  font-weight: bold;
  padding: 20%;

}
nav ul li a :hover{
color: rgb(219, 29, 29);
}
.intro{

  display: flex;
  align-items: center;
  gap: 10%;
}
.myphoto{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}